<template name="capital">
  <div type="capital">
    <h2>资金收支信息列表
      <button class="btn btn-primary edit-capital">增加新资金收支记录</button>
    </h2>
    <div id="add-capital" class="hidden">
      <div>
        {{> editCapital }}
      </div>
      <div class="col-sm-12"><br></div>
    </div>
    <div class="input-group col-sm-6 attach">
      <span class="input-group-addon" id="capital-code-label">搜索</span>
      <input type="text" name="keyword" class="form-control capital-keyword"
             placeholder="搜索关键词" aria-describedby="capital-code-label">
      <span class="btn btn-primary input-group-addon filter-capital">
        查询
      </span>
    </div>
    {{> capitalList }}

    <div class="col-xs-4">
      <a class="btn btn-default disabled" href="#">当前共显示 {{itemCount}}
        条信息</a>
    </div>
    {{#if nextPath}}
      <div class="col-xs-4 col-xs-offset-4">
        <a class="btn btn-default btn-block" href="{{nextPath}}">显示更多</a>
      </div>
    {{else}}
      {{#unless ready}}
        {{> loading}}
      {{/unless}}
    {{/if}}
  </div>
</template>

<template name="editCapital">
  <div class="edit-capital-detail">
    <strong>编辑资金收支信息</strong>

    <form class="add-capital">

      <div class="col-xs-4 attach">
        <div class="input-group {{ hasError 'type' }}">
          <span class="input-group-addon">类型</span>
          <select name="type" class="form-control">
            {{#each capitalTypes }}
              <option>{{name}}</option>
            {{/each }}
          </select>
        </div>
      </div>
      <div class="col-xs-4 attach">
        <div class="input-group {{ hasError 'inOut' }}">
          <span class="input-group-addon">收支</span>
          <select name="inOut" class="form-control">
            <option></option>
            <option>收入现金</option>
            <option>收入支票</option>
            <option>支出</option>
          </select>
        </div>
      </div>

      <div class="col-xs-4 attach {{ hasError 'stationId' }}">
        {{> stationSelect localTitle = '部门' }}
      </div>
      <div class="col-xs-4 attach {{ hasError 'partnerId' }}">
        <div class="partner-customer hidden">
          {{> customerCombo localTitle = '客户' }}
        </div>
        <div class="partner-employee">
          {{> employeeSelect localTitle = '雇员' }}
        </div>
      </div>

      <div class="col-xs-4 attach">
        <div class="input-group {{ hasError 'value' }}">
          <span class="input-group-addon">金额</span>
          <input type="text" name="value" class="form-control" placeholder="0.00">
        </div>
      </div>
      <div class="col-xs-4 attach {{ hasError 'currency' }}">
        {{> currencySelect selection = defaultCurrency }}
      </div>

      <div class="col-xs-12 attach">
        <div class="input-group {{ hasError 'comment'}}">
          <span class="input-group-addon" id="capital-memo-label">备注</span>
          <input type="text" name="comment" class="form-control"
                 placeholder="备注" aria-describedby="capital-memo-label"/>
        </div>
      </div>
      {{! 下面的input保存对应订单的数据库Id，为空表示不关联任何订单 }}
      <div class="col-xs-4 attach hidden">
        <div class="input-group">
          <span class="input-group-addon">订单Id</span>
          <input type="text" name="orderId" class="form-control">
        </div>
      </div>
      {{! 下面的input保存数据库条目的Id，为空表示新增，保存了Id表示覆盖 }}
      <div class="input-group hidden">
        <span class="input-group-addon" id="capital-id-label">Id</span>
        <input type="text" name="overlap" class="form-control"
               placeholder="空" aria-describedby="capital-id-label">
      </div>
      <div class="col-xs-12"></div>
      <div class="col-sm-4 col-sm-offset-4">
        <button type="submit" class="btn btn-primary btn-block">
          提交新信息
        </button>
      </div>
    </form>
  </div>
</template>

<template name="capitalList">
  <table class="table table-striped table-bordered min60">
    <thead>
    <tr>
      <th>日期</th>
      <th>类型</th>
      <th>收支</th>
      <th>部门</th>
      <th>对象</th>
      <th>金额</th>
      <th>备注</th>
      <th class="danger text-center width60">变更</th>
    </tr>
    </thead>
    <tbody>
    {{#each capitals }}
      {{> capitalListItem }}
    {{/each}}
    </tbody>
  </table>
</template>

<template name="capitalListItem">
  <tr>
    <td>{{formatDate timestamp }}</td>
    <td>{{type}}</td>
    <td>{{inOut}}</td>
    <td>{{stationName stationId}}</td>
    <td>{{partner partnerId}}</td>
    <td>{{formatMoney money.value money.currency }}</td>
    <td>{{comment}}</td>
    <td class="text-center">
      <a href="{{_id}}" class="update-capital" title="修改">
        <i class="fa fa-pencil-square-o fa-lg"></i>
      </a>
      <a href="{{_id}}" class="remove-capital" title="删除">
        <i class="fa fa-times fa-lg danger"></i>
      </a>
    </td>
  </tr>
</template>