<template name="delivery">
  <div type="delivery">
    <h2>货物出入库信息列表
      <button class="btn btn-primary edit-delivery">新增出入库记录</button>
    </h2>
    <div id="add-delivery" class="hidden">
      <div>
        {{> editDelivery }}
      </div>
      <div class="col-sm-12"><br></div>
    </div>
    <div class="input-group col-sm-6 attach">
      <span class="input-group-addon" id="delivery-code-label">搜索</span>
      <input type="text" name="keyword" class="form-control delivery-keyword"
             placeholder="搜索关键词" aria-describedby="delivery-code-label">
      <span class="btn btn-primary input-group-addon filter-delivery">
        查询
      </span>
    </div>
    {{> deliveryList }}

    <div class="col-xs-4">
      <a class="btn btn-default disabled" href="#">当前共显示 {{itemCount}}
        条信息</a>
    </div>
    {{#if nextPath}}
      <div class="col-xs-4 col-xs-offset-4">
        <a class="btn btn-default btn-block" href="{{nextPath}}">显示更多</a>
      </div>
    {{else}}
      {{#unless ready}}
        {{> loading}}
      {{/unless}}
    {{/if}}
  </div>
</template>

<template name="editDelivery">
  <div class="edit-delivery-detail">
    <strong>编辑资金收支信息</strong>

    <form class="add-delivery">

      <div class="col-xs-6 col-sm-4 attach">
        <div class="input-group {{ hasError 'type' }}">
          <span class="input-group-addon">类型</span>
          <select name="type" class="form-control">
            <option></option>
            <option>出库</option>
            <option>入库</option>
            <option>换货</option>
            <option>报废</option>
            <option>其它</option>
          </select>
        </div>
      </div>

      <div class="col-xs-6 col-sm-8 attach">
        <div class="input-group">
          <span class="input-group-addon">备注</span>
          <input type="text" name="comment" class="form-control"
                 placeholder="货物说明" value="{{delivery.comment}}">
        </div>
      </div>

      {{> goodsList index = -1 }}

      {{! 下面的input保存对应出入库条目对应部门的数据库Id }}
      <div class="col-xs-4 attach hidden">
        {{> stationSelect localTitle = '部门' }}
      </div>
      {{! 下面的input保存对应订单的数据库Id，为空表示不关联任何订单 }}
      <div class="col-xs-4 attach hidden">
        <div class="input-group">
          <span class="input-group-addon">订单Id</span>
          <input type="text" name="orderId" class="form-control">
        </div>
      </div>
      {{! 下面的input保存数据库条目的Id，为空表示新增，保存了Id表示覆盖 }}
      <div class="input-group hidden">
        <span class="input-group-addon" id="delivery-id-label">Id</span>
        <input type="text" name="overlap" class="form-control"
               placeholder="空" aria-describedby="delivery-id-label">
      </div>
      <div class="col-xs-12"></div>
      <div class="col-sm-4 col-sm-offset-4">
        <button type="submit" class="btn btn-primary btn-block">
          提交新信息
        </button>
      </div>
    </form>
  </div>
</template>

<template name="deliveryList">
  <table class="table table-striped table-bordered min60">
    <thead>
    <tr>
      <th>日期</th>
      <th>类型</th>
      <th>部门</th>
      <th>操作员</th>
      <th>货物清单</th>
      <th>备注</th>
      <th class="danger text-center width60">变更</th>
    </tr>
    </thead>
    <tbody>
    <tr class="goods-list-detail hidden">
      <td colspan="7">{{> goodsList index = 0 }}</td>
    </tr>

    {{#each deliveries }}
      {{> deliveryListItem }}
    {{/each}}
    </tbody>
  </table>
</template>

<template name="deliveryListItem">
  <tr>
    <td>{{formatDate timestamp }}</td>
    <td>{{type}}</td>
    <td>{{stationName stationId}}</td>
    <td>{{operatorName operatorId}}</td>
    <td class="show-delivery-detail" data-delivery-id="{{_id}}">
      显示 <i class="fa fa-list-alt"></i>
    </td>
    <td>{{comment}}</td>
    <td class="text-center">
      <a href="{{_id}}" class="update-delivery" title="修改">
        <i class="fa fa-pencil-square-o fa-lg"></i>
      </a>
      <a href="{{_id}}" class="remove-delivery" title="删除">
        <i class="fa fa-times fa-lg danger"></i>
      </a>
    </td>
  </tr>
</template>