<template name="welcome">
  <div class="container">
    <div class="jumbotron">
      <div class="container">
        <h1>销售管理系统</h1>

        <p>
          本系统从采购销售流程、库存管理、客户管理、资金和费用管理、单据管理等方面，来跟踪整个销售过程。同时对各类数据进行交叉引用，生成合适报表。</p>

        <p><a class="btn btn-primary btn-lg" href="#" role="button">
          了解更多 &raquo;
        </a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>销售查询汇总</h2>
          <p>
            对销售产生的数据，如销售商品列表、售价、数量、出货日期等信息进行各种类型的汇总。生成库存表、成本核算表等等。
          </p>
          <p><a class="btn btn-default" href="#" role="button">
            详细了解 &raquo;
          </a></p>
        </div>
        <div class="col-md-4">
          <h2>销售信息通知</h2>
          <p>
            当店面有新订单处理，或者订单出现新的进展时，比如发货、收款等信息时，系统会自动产生概要信息发送给相关管理者。
          </p>
          <p><a class="btn btn-default" href="#" role="button">
            详细了解 &raquo;
          </a></p>
        </div>
        <div class="col-md-4">
          <h2>订单流程处理</h2>
          <p>
            详细的订单流程处理记录跟踪，从订单产生,进入系统开始，通过备货、发货、收款、维修等诸多角度来记录订单的进展情况。
          </p>
          <p><a class="btn btn-default" href="#" role="button">
            详细了解 &raquo;
          </a></p>
        </div>
      </div>
    </div>
  </div>
</template>