<template name="notifications">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    消息
    {{#if notificationCount}}
      <span class="badge  progress-bar-danger">{{notificationCount}}</span>
    {{/if}}
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu list-group message-note-list">
    {{#if notificationCount}}
      {{#each notifications}}
        <li class="list-group-item hide-content notification">
          <div class="headline">
            <span>
              <strong>{{ getNameFromId creatorId }}：&nbsp;{{ headline }}</strong>
            </span>
          </div>
          <div class="content">{{ content }}</div>
        </li>
      {{/each}}
    {{else}}
      <li><span>没有新的消息</span></li>
    {{/if}}
  </ul>
</template>
