<template name="account">
  <div>
    <h2>用户账号列表
      {{#if isAdmin }}
        <button class="btn btn-primary edit-account">增加新账号</button>
      {{/if}}
    </h2>
    <div id="add-account" class="hidden">
      <div>
        {{> addAccount }}
      </div>
    </div>
    <div class="col-sm-12"><br></div>
    {{#if isAdmin }}
      <div class="input-group col-sm-6 attach">
        <span class="input-group-addon" id="account-admin-label">搜索</span>
        <input type="text" name="keyword" class="form-control account-keyword"
               placeholder="搜索关键词" aria-describedby="account-admin-label">
      <span class="btn btn-primary input-group-addon filter-account">
        查询
      </span>
      </div>
    {{/if }}

    {{> accountList }}

    {{#if isAdmin }}
      <div class="col-xs-4">
        <a class="btn btn-default disabled" href="#">当前共显示 {{itemCount}}
          条信息</a>
      </div>
    {{/if }}

    {{#if nextPath}}
      <div class="col-xs-4 col-xs-offset-4">
        <a class="btn btn-default btn-block" href="{{nextPath}}">显示更多</a>
      </div>
    {{else}}
      {{#unless ready}}
        {{> loading}}
      {{/unless}}
    {{/if}}

    {{!--  用于确认旧密码的模态对话框  --}}
    {{> oldPassword }}
  </div>
</template>

<template name="addAccount">
  <div>
    <strong>设置账号信息</strong>

    <form class="add-account">
      <div class="col-xs-4 attach">
        <div class="input-group {{ hasError "username" }}">
          <span class="input-group-addon"
                id="account-username-label">账号名称</span>
          <input type="text" name="username" class="form-control"
                 placeholder="账号名称"
                 aria-describedby="account-username-label">
        </div>
      </div>
      <div class="col-xs-4 attach">
        <div class="input-group {{ hasError "nickname" }}">
          <span class="input-group-addon"
                id="account-nickname-label">用户姓名</span>
          <input type="text" name="nickname" class="form-control"
                 placeholder="用户姓名"
                 aria-describedby="account-nickname-label">
        </div>
      </div>
      <div class="col-xs-4 attach">
        <div class="input-group {{ hasError "email" }}">
          <span class="input-group-addon" id="account-email-label">电子邮箱</span>
          <input type="text" name="email" class="form-control"
                 placeholder="电子邮箱"
                 aria-describedby="account-email-label">
        </div>
      </div>
      <div class="col-xs-4 attach">
        <div class="input-group {{ hasError "password" }}">
          <span class="input-group-addon"
                id="account-password-label">登录密码</span>
          <input type="password" name="password" class="form-control"
                 placeholder="登录密码" aria-describedby="account-password-label"/>
        </div>
      </div>
      <div class="col-xs-4 attach">
        <div class="input-group {{ hasError "password" }}">
        <span class="input-group-addon"
              id="account-password-again-label">确认密码</span>
          <input type="password" name="password-again" class="form-control"
                 placeholder="确认登录密码"
                 aria-describedby="account-password-again-label"/>
        </div>
      </div>
      <div class="col-xs-4 attach {{showForAdmin}}">
        <div class="input-group {{ hasError 'disabled' }}">
          <span class="input-group-addon"
                id="includes-disabled-label">可用状态</span>
          <select name="disabled" class="form-control"
                  aria-describedby="includes-disabled-label">
            <option value="0">启用</option>
            <option value="1">禁用</option>
          </select>
        </div>
      </div>
      <div class="col-xs-4 attach {{showForAdmin}} {{ hasError 'stationId'}}">
        {{> stationSelect localTitle = '所属部门' }}
      </div>
      <div class="col-xs-4 attach {{showForAdmin}}">
        <div class="input-group {{ hasError "grade" }}">
          <span class="input-group-addon" id="includes-type-label">账号类型</span>
          <select name="grade" class="form-control"
                  aria-describedby="includes-type-label">
            <option value="0">受限只读账号</option>
            <option value="1" selected>普通账号</option>
            <option value="2">特权账号</option>
            <option value="3">系统管理账号</option>
          </select>
        </div>
      </div>
      <div class="col-xs-4 attach">
        <button class="btn btn-warning btn-block">权 限 设 置</button>
      </div>
      <div class="col-xs-12 attach">
        <div class="input-group {{ hasError "comment" }}">
          <span class="input-group-addon" id="account-comment-label">账号描述</span>
          <input type="text" name="comment" class="form-control"
                 placeholder="账号描述" aria-describedby="account-comment-label"/>
        </div>
      </div>
      {{! 下面的input保存数据库条目的Id，为空表示新增，保存了Id表示覆盖 }}
      <div class="input-group hidden">
        <span class="input-group-addon" id="account-id-label">Id</span>
        <input type="text" name="overlap" class="form-control"
               placeholder="空" aria-describedby="account-id-label">
      </div>
      <div class="col-xs-12"></div>
      <div class="col-sm-4 col-sm-offset-4">
        <button type="submit" class="btn btn-primary btn-block">
          提交新信息
        </button>
      </div>
    </form>
  </div>
</template>

<template name="accountList">
  <table class="table table-striped table-bordered min60">
    <thead>
    <tr>
      <th>账号名</th>
      <th>用户名</th>
      <th>邮箱</th>
      <th>部门</th>
      <th class="width60">类型</th>
      <th class="width60">状态</th>
      <th>描述</th>
      <th class="danger text-center width60">变更</th>
    </tr>
    </thead>
    <tbody>
    {{#each accounts }}
      {{> accountListItem }}
    {{/each}}
    </tbody>
  </table>
</template>

<template name="accountListItem">
  <tr>
    <td>{{username}}</td>
    <td>{{nickname}}</td>
    <td>{{email}}</td>
    <td>{{station}}</td>
    <td class="{{colorGrade}}">{{rightGrade}}</td>
    <td class="{{colorStatus}}">{{status}}</td>
    <td>{{comment}}</td>
    <td class="text-center">
      <a href="{{_id}}" class="update-account" title="修改">
        <i class="fa fa-pencil-square-o fa-lg"></i>
      </a>
      {{#if isAdmin }}
        <a href="{{_id}}" class="remove-account" title="删除">
          <i class="fa fa-times fa-lg danger"></i>
        </a>
      {{/if }}
    </td>
  </tr>
</template>

<template name="oldPassword">
  <div class="modal fade" id="old-password" tabindex="-1" role="dialog"
       aria-labelledby="old-password-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title text-center" id="old-password-modal-label">
            请输入当前旧的登录密码
          </h4>
        </div>
        <div class="modal-body">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="input-group">
              <span class="input-group-addon"
                    id="old-account-password-label">旧密码</span>
              <input type="password" name="oldPassword" class="form-control"
                     placeholder="登录密码"
                     aria-describedby="old-account-password-label"/>
            </div>
          </div>
          <div class="col-xs-12"><br><br></div>
          <div class="col-xs-12">
            <div class="col-xs-3 col-xs-offset-2">
              <button type="button" class="btn btn-default btn-block"
                      data-dismiss="modal">
                取消
              </button>
            </div>
            <div class="col-xs-3 col-xs-offset-2">
              <button type="button" class="btn btn-primary btn-block confirm">
                确定
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>