<template name="station">
  <div>
    <h2>销售分部列表
      <button class="btn btn-primary edit-station">增加新部门</button>
    </h2>
    <div id="add-station" class="hidden">
      <div>
        {{> addStation }}
      </div>
      <div class="col-sm-12"><br></div>
    </div>
    <div class="input-group col-sm-6 attach">
      <span class="input-group-addon" id="station-code-label">搜索</span>
      <input type="text" name="keyword" class="form-control station-keyword"
             placeholder="搜索关键词" aria-describedby="station-code-label">
      <span class="btn btn-primary input-group-addon filter-station">
        查询
      </span>
    </div>
    {{> stationItem }}

    <div class="col-xs-4">
      <a class="btn btn-default disabled" href="#">当前共显示 {{itemCount}}
        条信息</a>
    </div>
    {{#if nextPath}}
      <div class="col-xs-4 col-xs-offset-4">
        <a class="btn btn-default btn-block" href="{{nextPath}}">显示更多</a>
      </div>
    {{else}}
      {{#unless ready}}
        {{> loading}}
      {{/unless}}
    {{/if}}
  </div>
</template>

<template name="addStation">
  <div>
    <strong>编辑销售部门信息</strong>

    <form class="add-station">
      <div class="col-xs-4 attach">
        <div class="input-group {{ hasError 'code'}}">
          <span class="input-group-addon" id="station-code-label">编号</span>
          <input type="text" name="code" class="form-control" placeholder="编号"
                 aria-describedby="station-code-label">
        </div>
      </div>
      <div class="col-xs-4 attach">
        <div class="input-group {{ hasError 'name'}}">
          <span class="input-group-addon" id="station-name-label">名称</span>
          <input type="text" name="name" class="form-control" placeholder="名称"
                 aria-describedby="station-name-label">
        </div>
      </div>
      <div class="col-xs-4 attach">
        <div class="input-group {{ hasError 'manager'}}">
          <span class="input-group-addon" id="station-manager-label">负责人</span>
          <input type="text" name="manager" class="form-control"
                 placeholder="负责人"
                 aria-describedby="station-manager-label">
        </div>
      </div>
      <div class="col-xs-12 attach">
        <div class="input-group {{ hasError 'address'}}">
          <span class="input-group-addon" id="station-address-label">地址</span>
          <input type="text" name="address" class="form-control"
                 placeholder="办公地址" aria-describedby="station-address-label"/>
        </div>
      </div>
      <div class="col-xs-12 attach">
        <div class="input-group {{ hasError 'comment'}}">
          <span class="input-group-addon" id="station-comment-label">简介</span>
          <input type="text" name="comment" class="form-control"
                 placeholder="简介" aria-describedby="station-comment-label"/>
        </div>
      </div>
      <div class="col-xs-12 attach">
        <div class="input-group {{ hasError 'memo'}}">
          <span class="input-group-addon" id="station-memo-label">备注</span>
          <input type="text" name="memo" class="form-control"
                 placeholder="备注" aria-describedby="station-memo-label"/>
        </div>
      </div>
      {{! 下面的input保存数据库条目的Id，为空表示新增，保存了Id表示覆盖 }}
      <div class="input-group hidden">
        <span class="input-group-addon" id="station-id-label">Id</span>
        <input type="text" name="overlap" class="form-control"
               placeholder="空" aria-describedby="station-id-label">
      </div>
      <div class="col-sm-4 col-sm-offset-4 col-xs-12">
        <button type="submit" class="btn btn-primary btn-block">
          提交新信息
        </button>
      </div>
    </form>
  </div>
</template>

<template name="stationItem">
  <table class="table table-striped table-bordered min60">
    <thead>
    <tr>
      <th>编号</th>
      <th>名称</th>
      <th>负责人</th>
      <th>地址</th>
      <th>简介</th>
      <th>备注</th>
      <th class="danger text-center width60">变更</th>
    </tr>
    </thead>
    <tbody>
    {{#each stations }}
      <tr>
        <td>{{code}}</td>
        <td>{{name}}</td>
        <td>{{manager}}</td>
        <td>{{address}}</td>
        <td>{{comment}}</td>
        <td>{{memo}}</td>
        <td class="text-center">
          <a href="{{_id}}" class="update-station" title="修改">
            <i class="fa fa-pencil-square-o fa-lg"></i>
          </a>
          <a href="{{_id}}" class="remove-station" title="删除">
            <i class="fa fa-times fa-lg danger"></i>
          </a>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</template>