<template name="orderDisposal">
  <div class="order-disposal">
    <div class="col-xs-6"><h2>订单处理详情 </h2></div>
    <div class="col-xs-6 tools">
      <div class="text-right">
        <h2>
          <i title="添加处理记录" class="btn fa fa-comments-o"></i>
          <i title="保存处理结果" class="btn fa fa-check"></i>
          <i title="订单打印预览" class="btn fa fa-search"></i>
          <i title="删除当前订单" class="btn fa fa-trash-o remove"></i>
        </h2>
      </div>
    </div>

    {{> editOrder }}

    {{> orderDisposalItem }}

    <div id="add-order-disposal" class="not-hidden">
      {{> addOrderDisposal }}
    </div>

  </div>
</template>

<template name="editOrder">
  <div>
    <form class="add-order">
      <div class="col-xs-4 attach">
        <div class="input-group {{ hasError 'code'}}">
          <span class="input-group-addon" id="order-code-label">编号</span>
          <input type="text" name="code" class="form-control" placeholder="订单编号"
                 aria-describedby="order-code-label">
        </div>
      </div>
      <div class="col-xs-4 attach">
        <div class="input-group {{ hasError 'type'}}">
          <span class="input-group-addon" id="order-type-label">类型</span>
          <select name="type" class="form-control"
                  aria-describedby="order-type-label">
            <option></option>
            <option value="零售">零售（零散客户)</option>
            <option value="销售">销售（特定客户）</option>
            <option value="采购">采购</option>
          </select>
        </div>
      </div>
      <div class="col-xs-4 attach">
        <div class="input-group {{ hasError 'status'}}">
          <span class="input-group-addon" id="order-status-label">状态</span>
          <select name="status" class="form-control"
                  aria-describedby="order-status-label">
            <option>进行</option>
            <option>完成</option>
            <option>终止</option>
          </select>
        </div>
      </div>
      <div class="col-xs-4 attach">
        {{> customerCombo localTitle = '客户' }}
      </div>
      <div class="col-xs-4 attach">
        <div class="input-group {{ hasError 'address'}}">
          <span class="input-group-addon" id="order-address-label">地址</span>
          <input type="text" name="address" class="form-control"
                 placeholder="交货地址" aria-describedby="order-address-label"/>
        </div>
      </div>
      <div class="col-xs-4 attach">
        <div class="input-group {{ hasError 'phone'}}">
          <span class="input-group-addon" id="order-phone-label">电话</span>
          <input type="text" name="phone" class="form-control"
                 placeholder="客户电话" aria-describedby="order-address-label"/>
        </div>
      </div>
      <div class="col-xs-4 attach">
        <div class="input-group {{ hasError 'deadline'}}">
          <span class="input-group-addon" id="order-deadline-label">期限</span>
          <input type="text" name="deadline" class="form-control"
                 placeholder="交货截止日期" aria-describedby="order-deadline-label"/>
        </div>
      </div>
      <div class="col-xs-4 attach">
        {{> stationSelect localTitle = '部门' }}
      </div>
      <div class="col-xs-4 attach">
        {{> stationSelect localTitle = '主管' }}
      </div>
      <div class="col-xs-12 attach">
        <div class="input-group {{ hasError 'comment'}}">
          <span class="input-group-addon" id="order-comment-label">描述</span>
          <input type="text" name="comment" class="form-control"
                 placeholder="订单描述" aria-describedby="order-comment-label"/>
        </div>
      </div>
      {{! 下面的input保存数据库条目的Id，为空表示新增，保存了Id表示覆盖 }}
      <div class="input-group hidden">
        <span class="input-group-addon" id="order-id-label">Id</span>
        <input type="text" name="overlap" class="form-control"
               placeholder="空" aria-describedby="order-id-label">
      </div>
      <div class="col-xs-12"></div>
    </form>
  </div>
</template>

<template name="addOrderDisposal">
  <div class="add-order-disposal">
    <fieldset class="col-xs-12">
      <legend>处理订单</legend>
      <div class="col-xs-4 attach">
        <div class="input-group">
          <span class="input-group-addon"
                id="disposal-timestamp-label">日期</span>
          <input type="text" name="timestamp" class="form-control"
                 aria-describedby="disposal-address-label" placeholder="处理日期"/>
        </div>
      </div>
      <div class="col-xs-8 attach">
        <div class="tools text-right">
          <!--<i title="添加处理记录" class="btn fa fa-lg fa-comments-o"></i>-->
          <i title="保存处理结果" class="btn fa fa-lg fa-check"></i>
          <i title="删除当前处理" class="btn fa fa-lg fa-trash-o remove"></i>
        </div>
      </div>
      {{! 用于排版时保证一行对齐 -}}
      <div class="col-xs-12"></div>
      <div class="col-xs-4 attach">
        <div class="input-group {{ hasError 'type'}}">
          <span class="input-group-addon" id="disposal-type-label">类型</span>
          <select name="type" class="form-control"
                  aria-describedby="disposal-type-label">
            <option></option>
            <option>备货</option>
            <option>发货</option>
            <option>收货</option>
            <option>换货</option>
            <option>退货</option>
            <option>收款</option>
            <option>付款</option>
            <option>退款</option>
            <option>维修</option>
            <option>报废</option>
          </select>
        </div>
      </div>
      <div class="col-xs-4 attach">
        {{> stationSelect localTitle = '主管' }}
      </div>
      <div class="col-xs-4 attach">
        {{> voucherCombo localTitle = '凭证'}}
      </div>
      <div class="col-xs-12 attach">
        <div class="input-group {{ hasError 'comment'}}">
          <span class="input-group-addon" id="disposal-comment-label">说明</span>
          <input type="text" name="comment" class="form-control"
                 placeholder="处理说明" aria-describedby="disposal-address-label"/>
        </div>
      </div>

      {{> delivery }}

      <div class="col-xs-4 attach">
        <div class="input-group">
          <span class="input-group-addon">资金操作</span>
          <select name="type" class="form-control">
            <option></option>
            <option>收入现金</option>
            <option>收入支票</option>
            <option>支出</option>
          </select>
        </div>
      </div>

      <div class="col-xs-4 attach">
        <div class="input-group">
          <span class="input-group-addon">金额</span>
          <input type="text" name="voucherId" class="form-control">
        </div>
      </div>
      <div class="col-xs-4 attach">
        {{> currencySelect }}
      </div>

      <div class="col-xs-4 attach">
        <div class="input-group">
          <span class="input-group-addon">资金类型</span>
          <select name="type" class="form-control">
            <option></option>
            <option>销售</option>
            <option>采购</option>
            <option>维修</option>
            <option>日常开销</option>
          </select>
        </div>
      </div>
      <div class="col-xs-8 attach">
        <div class="input-group {{ hasError 'comment'}}">
          <span class="input-group-addon" id="disposal-comment-label">备注</span>
          <input type="text" name="comment" class="form-control"
                 placeholder="资金说明" aria-describedby="disposal-address-label"/>
        </div>
      </div>

    </fieldset>
  </div>
</template>

<template name="orderDisposalItem">
  <div>
    <div class="col-xs-12 attach">
      <div class="input-group">
          <span class="input-group-addon" title="18:23:22"
                id="order-code-label">2015-08-22</span>
        <span class="input-group-addon" title="18:23:22">备货</span>
        <input type="text" name="code" class="form-control"
               placeholder="处理内容概述"
               aria-describedby="order-code-label">
          <span class="input-group-addon btn btn-primary" title="">
            详情
            <i class="fa fa-caret-down"></i>
          </span>
      </div>
    </div>
    <div class="col-xs-12 attach">
      <div class="input-group">
          <span class="input-group-addon" title="11:10:35"
                id="order-code-label">2015-08-28</span>
        <span class="input-group-addon" title="18:23:22">发货</span>
        <input type="text" name="code" class="form-control"
               placeholder="处理内容概述"
               aria-describedby="order-code-label">
          <span class="input-group-addon btn btn-primary" title="">
            详情
            <i class="fa fa-caret-down"></i>
          </span>
      </div>
    </div>
    <div class="col-xs-12 attach">
      <div class="input-group">
          <span class="input-group-addon" title="14:24:48"
                id="order-code-label">2015-08-31</span>
        <span class="input-group-addon" title="18:23:22">收款</span>
        <input type="text" name="code" class="form-control"
               placeholder="处理内容概述"
               aria-describedby="order-code-label">
          <span class="input-group-addon btn btn-primary" title="">
            详情
            <i class="fa fa-caret-down"></i>
          </span>
      </div>
    </div>
  </div>
</template>