<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'home'}}">SaleSys</a>
    </div>

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">

        {{!--
        <li class="{{activeRouteClass 'home' 'newPosts'}}">
          <a href="{{pathFor 'newPosts'}}">New</a>
        </li>
        <li class="{{activeRouteClass  'bestPosts'}}">
          <a href="{{pathFor 'bestPosts'}}">Best</a>
        </li>
          <li class="{{activeRouteClass 'postSubmit'}}">
            <a href="{{pathFor 'postSubmit'}}">Submit Post</a>
          </li>
        --}}
        {{#if currentUser}}
          <li class="dropdown">
            {{> notifications}}
          </li>
        {{/if}}

        {{#with menuInfo}}
          {{> menu order}}
          {{> menu base}}
          {{> menu message}}
          {{> menu report}}
          {{> menu admin}}
        {{/with}}

      </ul>

      {{! 登录按钮，来自accout-ui }}
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="logout" href="/" title="退出">
            {{username}}
            {{#if loggedIn}}
                <i class="fa fa-lg fa-sign-out"></i>
            {{/if }}
          </a>
        </li>
        {{!--
        {{> loginButtons}}
        --}}
      </ul>
    </div>
  </nav>
</template>

<!-- 用于弹出菜单的生成，name为菜单名，operation为数组，包含菜单操作列表 -->
<template name="menu">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
       role="button" aria-expanded="false">
      {{name}} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {{#each operation}}
        <li><a href="{{pathFor template}}">{{name}}</a></li>
      {{/each}}
    </ul>
  </li>
</template>