<template name="currencySelect">
  <div class="input-group">
    <span class="input-group-addon" id="includes-currency-label">币种</span>
    <select name="currency" class="form-control"
            aria-describedby="includes-currency-label">
      {{#each currencies}}
        {{> currencySelectItem}}
      {{/each}}
    </select>
  </div>
</template>

<template name="currencySelectItem">
  {{#if isDefaultCurrency}}
    <option value="{{symbol}}" selected>{{name}}（{{symbol}}）</option>
  {{else}}
    <option value="{{symbol}}">{{name}}（{{symbol}}）</option>
  {{/if}}
</template>
