<!-- 如果指定了selection参数，则将其作为选中币种 -->
<template name="currencySelect">
  <div class="input-group">
    <span class="input-group-addon">币种</span>
    <select name="currency" class="form-control">
      {{#each currencies}}
        {{> currencySelectItem}}
      {{/each}}
    </select>
  </div>
</template>

<template name="currencySelectItem">
  {{#if isSelected}}
    <option value="{{symbol}}" selected>{{name}}（{{symbol}}）</option>
  {{else}}
    <option value="{{symbol}}">{{name}}（{{symbol}}）</option>
  {{/if}}
</template>
