<!-- 必须在使用本模板时设置localTitle及customers变量 -->
<template name="customerSelect">
  <div class="input-group">
    <span class="input-group-addon">
      {{localTitle}}
    </span>
    <select name="customerId" class="form-control">
      <option value=""></option>
      {{#each customers}}
        <option value="{{_id}}">{{name}}（{{code}}）</option>
      {{/each}}
    </select>
  </div>
</template>

<!-- 必须在使用本模板时设置localTitle及customers变量 -->
<template name="customerCombo">
  <div class="customer-combo">
    <div class="input-group dropdown" role="presentation">
        <span class="input-group-addon">
          {{localTitle}}
        </span>
      <input type="text" name="customerNameOrId" class="form-control"
             placeholder="客户名称" value=" {{customerName}}">

      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown" aria-expanded="false">
          <span class="caret" title="选择固定客户"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          {{#each customers}}
            <li><a href="{{_id}}">{{name}}（{{code}}）</a></li>
          {{/each}}
        </ul>
      </div>
      <!-- /btn-group -->

    </div>
  </div>
</template>

