<template name="delivery">
  <div class="delivery">
    <div class="input-group col-xs-6">
      <span class="input-group-addon">货物操作</span>
      <select name="type" class="form-control">
        <option></option>
        <option>出库</option>
        <option>入库</option>
        <option>其它调整</option>
      </select>
      <span class="btn btn-primary input-group-addon open-goods-list">
        货物清单 <i class="fa fa-caret-down"></i>
      </span>
    </div>
    <div class="col-xs-12 hidden grid"></div>
  </div>
</template>

<template name="quotation">
  <div class="quotation">
    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">
      {{> currencySelect }}
    </div>
  </div>
</template>