<!-- 必须在使用本模板时设置localTitle变量 -->
<template name="stationSelect">
  <div class="input-group">
    <span class="input-group-addon" id="includes-station-label">
      {{localTitle}}
    </span>
    <select name="stationId" class="form-control"
            aria-describedby="includes-station-label">
      {{#each stations}}
        {{> stationSelectItem }}
      {{/each}}
      <option value="">不隶属于任何部门</option>
    </select>
  </div>
</template>

<template name="stationSelectItem">
  {{#if isDefaultStation}}
    <option value="{{_id}}" selected>{{name}}</option>
  {{else}}
    <option value="{{_id}}">{{name}}</option>
  {{/if}}
</template>
