<!-- 必须在使用本模板时设置localTitle及stationSelectItem变量 -->
<template name="stationSelect">
  <div class="input-group">
    <span class="input-group-addon">
      {{localTitle}}
    </span>
    <select name="stationId" class="form-control">
      <option value="">不隶属于任何部门</option>
      {{#each stations}}
        {{> stationSelectItem }}
      {{/each}}
    </select>
  </div>
</template>

<template name="stationSelectItem">
  {{#if isDefaultStation}}
    <option value="{{_id}}" selected>{{name}}</option>
  {{else}}
    <option value="{{_id}}">{{name}}</option>
  {{/if}}
</template>
