<!-- 必须在使用本模板时设置localTitle及customers变量 -->
<template name="voucherCombo">
  <div class="voucher-combo">
    <div class="input-group" role="presentation">
      <span class="input-group-addon">
       {{localTitle}}
      </span>
      <span type="button" class="form-control dropdown-toggle text-center"
            data-toggle="dropdown" aria-expanded="false">
        {{localTitle}}列表 <i class="fa fa-caret-down"></i>
      </span>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        {{#each customers}}
          <li>
            <a style="display: inline-block" href="{{_id}}">
              {{name}}（{{code}}）
            </a>
            <div class="voucher-item" title="删除">
              <i class="fa fa-trash-o"></i>
            </div>
          </li>
        {{/each}}
      </ul>
      <span class="input-group-addon btn btn-default tools" title="附加单据">
        <i class="fa fa-plus"></i>
      </span>
    </div>
  </div>
</template>
